body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("nsync.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

{}

.timer {
    color: white;
    text-align: center;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 1px #ccc;
    letter-spacing: 3px;
    line-height: 1.8;
    word-spacing: 5px;
}

.question {
    color: white;
    text-align: center;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 1px #ccc;
    letter-spacing: 3px;
    line-height: 1.8;
    word-spacing: 5px;
}

.arrayanswers {
    text-align: center;
    color: white;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 1px #ccc;
    letter-spacing: 3px;
    line-height: 1.8;
    word-spacing: 5px;
}
